/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

html {
  height: 100%;
}
body {
  height: 100%;
}
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

select {
  display: block;
}

#searchBtn {
  width: 100%;
}

.side-tab {
  float: left;
  width: 15%;
  height: 100%;
  margin: 0px;
  border-right: 1px solid #00000042;
}
.side-tab ul {
  margin-top: 15px;
}

.list-item {
  text-align: center;
  padding: 8px 0px;
}

.list-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.list-item-active {
  background-color: rgba(0, 0, 0, 0.1);
}

#tab3,
#tab4 {
  display: none;
  height: 100%;
}

.rectangle {
  position: absolute;
  width: 262.24px;
  height: 250px;
  left: -102.14px;
  top: 73.29px;
  z-index: -22;
  background: #75dbcd;
  transform: rotate(-35.15deg);
}

.circle {
  position: absolute;
  width: 572px;
  height: 572px;
  left: 1009px;
  top: -280px;
  z-index: -22;
  background: rgba(47, 72, 88, 0.8);
  border-radius: 286px;
}
